
.zoom-container {
  overflow: auto; /* Enable scrollbars when image exceeds container size */
}

.zoomable {
  max-width: 100%; /* Ensure image fits container width */
  height: auto; /* Maintain aspect ratio */
  cursor: zoom-in; /* Change cursor to indicate zoom functionality */
}

.zoomable:hover {
  cursor: zoom-out; /* Change cursor to indicate zoom-out functionality on hover */
}